@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name )
}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body{
    background-color: $primary-color;
    color: $text-color;
}
.main{
    width:80%;
    margin: 0 auto;
    @include flexCenter(column) ;
    
    #{&}_paragraph{
        font-weight: weight(regular);
        color: $accent-color;
        &:hover{
            color: $text-color;
            cursor: pointer;
        }
    }
}